body {
    font-weight:40px;
    font-style:italic;
    font-family: system-ui;
    background: #f06d06;
    color: white;
    text-align: center;
    text-decoration:blink;
    text-indent:70px;
    line-height:90px;
    text-shadow:5px,5px,5px,black;
    background-image:url("C:/Users/22947/Desktop/求职/决策树.png");/*导入背景图片*/
    background-repeat:no-repeat;/*设置背景图片的重复次数*/
    border: #f06d06,20px;
    background-position: left top;
    background-attachment: fixed;
    margin-top: 200px;
    border-style: dashed;
    border-color:blue,#ffffff,red,white;
}
  h1 {
      font-size: 32px;
  }
  p {
      color: black;
  }